[2015-12-08 18:07] amroco opened #1 "Troublw drawing region maps (Windows)"
Hi there!
Awesome product!
I am however getting the following error:

Error in ogrListLayers(url) : Cannot open data source

Any suggestions?
Cheers,
Ames

[2015-12-08 18:10] EvilScott commented on #1
@amroco Are you using Windows?

[2015-12-09 01:34] amroco commented on #1
I am, this is my work computer at Sea Around Us :)
Everything else is great however!

[2015-12-09 18:53] EvilScott commented on #1
We can leave this open for now, but I don't now if it will be able to be addressed. I reached out to someone who is a little bit more experienced with rgdal and R than me so we'll see what happens.

[2016-01-13 14:02] marco198 opened #2 "Is it possible to include the scientific name of the fished species and their trophic level?"
Hello everybody,
I think that It would be great to include the scientific name and trophic levels of the caught species in addition to the 'taxon' level of aggregation, for example, in the form catchdata('lme', 10, dimension='scientificname', tl=T)
thank you

[2016-02-10 22:58] #1 closed

[2016-05-31 21:06] jafflerbach opened #3 "Querying catch data for sector, tonnage, eez at the same time for a list of eezs"
Is it possible to query multiple dimensions or countries at once? It seems the `catchdata()` function only accepts single arguments for id, measures and dimensions. I'd like to query for both EEZ and high seas at the same time as well as multiple dimensions. Ideally it would spit back a dataframe that looks something like this:

| Year | Region Name        | Region Number | Taxon                 |

[2016-05-31 22:52] jafflerbach opened #4 "catchdata for highseas - what is the id argument?"
What are the ids for the high seas regions??

When using the region numbers from `listregions('highseas')` the dataframe returned by `catchdata()` is null:
[code]

[2016-06-02 10:08] EvilScott commented on #4
you have the ID right, you just mixed up region and dimension, try:
[code]

[2016-06-02 17:12] jafflerbach commented on #4
Thank you

[2016-06-02 17:12] #4 closed

[2016-06-02 23:48] jafflerbach commented on #4
It would be useful to have the high seas id's unique from the EEZ ids. As it is right now, there is an id "48" for EEZs (Bahrain) and a "48" for the High Seas (Atlantic, Antarctic). Just a suggestion for when these datasets are used together

[2016-06-06 18:39] EvilScott commented on #4
I don't think this is possible at this time due to the database structure. @LinhTran can you add anything here?

[2016-06-07 16:50] jafflerbach commented on #2
This would also be immensely helpful for us at the Ocean Health Index. We need to match scientific names with information from FishBase. It seems that currently the only way to get scientific names is to query the data by cell.

[2016-06-15 21:46] EvilScott commented on #2
Scientific name is possible since the scientific name comes with the API response for taxon, we just need to add some code to handle this special case. Code would go [here](https://github.com/SeaAroundUs/rseaaroundus/blob/master/R/catchdata.R#L38)

TL not so much since its a separate endpoint.

[2016-06-15 21:47] EvilScott commented on #3
ATT it is not possible since the R library is based off of the API structure. We'll leave this suggestion open for possible future development.

[2016-09-01 20:40] jafflerbach opened #5 "Taxonomic information for all taxa?"
Does SAUP have taxonomic information for all Taxa? Something that provides taxonomic information from species to class for all taxa? something like:

| Taxon name   | Genus  | Species | Family       | Order       | Class          |
|--------------|--------|---------|--------------|-------------|----------------|
| Gadus morhua | Gadus  | morhua  | Gadidae      | Perciformes | Actinopterygii |
| Ca

[2016-09-01 21:33] EvilScott commented on #5
I'm providing all the data that is accessible in the SAUP database. You can always check out [Fishbase](http://www.fishbase.org/) for more data 😄

[2016-09-01 21:33] #5 closed

[2016-09-01 22:06] jcvdav commented on #5
Hey Jamie,

In the amazing `rfishbase` package, you can use `sp_list <- rfishbase::load_taxa()` to load a quite complete list of species (33,104 obs) with their taxonomic information all the way up to Family. From there you can either subset what you need, or perform a join.

Also, it may be worth looking into `taxize`, another great package with many interesting functions for working with taconom

[2016-09-01 22:09] jafflerbach commented on #5
Ah great thanks for that tip. I'm also exploring the [myTAI](https://cran.r-project.org/web/packages/myTAI/vignettes/Introduction.html) package (uses taxize) as it outputs the info I need nicely. Seems like I'll be able to get what I need with these options.

[2016-09-21 12:51] fguilhaumon opened #6 "getcelldata returning zero data"
Hi there,

I'm trying the 'getcelldata' for a research project and, running the example, I'm unable to get any data :

cells <- getcells("POLYGON ((-48.177685950413291 15.842380165289299,-48.177685950413291 15.842380165289299,
-54.964876033057919 28.964280991735578,-35.960743801652967 27.606842975206646,-48.177685950413291
15.842380165289299))")
# get datagrid of cell data for a given year and lis

[2016-09-22 18:13] EvilScott commented on #6
Have you verified that `cells` is not an empty list?

[2016-09-23 09:33] fguilhaumon commented on #6
Hi EvilScott,

thanks for looking around. Yes I verified that the "cells" vector was not empty :

`> cells[1:10]`
`[1]  88091  88092  88093  88094  88095  88096  88097  88098  88099  88100`

then sing the "getcelldata" function :

`> getcelldata(2000,cells[1:10])`
`No encoding supplied: defaulting to UTF-8.
data frame with 0 columns and 0 rows`

In fact I'm just running the examples provided in th

[2016-09-23 20:27] EvilScott commented on #6
Hrm, not really sure what's going on here. The Sea Around Us API must have undergone an update. @LinhTran want to weigh in here?

[2016-09-26 16:13] LinhTran commented on #6
Found a grant issue for the cell catch tables. I have applied the changes to the prod web db, so please try to access the api above again.

[2016-09-28 08:14] fguilhaumon commented on #6
Hi !

It works perfectly. Thanks for the support.

Cheers,

François

[2016-10-07 09:39] LaureVelez opened #7 "getcelldata returning only one value"
Hi there,

First, thanks to have fixed the problem with the api but ...
I'm trying the 'getcelldata' and, running the example, I can only get the result for one cell (the first one).

cells <- getcells("POLYGON ((-48.177685950413291 15.842380165289299,-48.177685950413291 15.842380165289299,
-54.964876033057919 28.964280991735578,-35.960743801652967 27.606842975206646,-48.177685950413291
15.8423801

[2016-10-10 21:35] EvilScott commented on #7
@LinhTran can you check the query used by `sunfish.spatial.CellCatch.get` method on the SAU API for this issue?

[2016-10-10 21:37] EvilScott commented on #7
@LinhTran can you also assist in providing the grid as GIS format per @LaureVelez request?

[2016-10-10 21:44] LinhTran commented on #7
I can look into the query used by sunfish.spatial.CellCatch.get, np.

But for the second request, do we already have an API to return GIS format? An existing output format parameter, maybe. If not, then we would need to expand the existing API to accept an output format param or provide a new API altogether. As for the actual format, having a list of cell IDS on hand, would only a matter of conver

[2016-10-11 17:44] EvilScott commented on #7
@LinhTran I don't think we currently have an API endpoint to support returning the entire grid, so I think this can be delivered via API. Perhaps it is appropriate to allow downloading of shape files or another format somewhere else?

[2016-10-11 17:46] EvilScott commented on #7
@LaureVelez it looks like there is an issue with the list comprehension reading the API response. Probably need to adjust this line here: https://github.com/SeaAroundUs/rseaaroundus/blob/master/R/spatial.R#L24

I'll see if I can find time to get to this soon

[2016-10-12 14:50] LaureVelez commented on #7
Thank you for your reactive response. I can manage by using the getcelldata function cells by cells. Actually, i just need the proportion of the cell intersecting with my polygons. Thanks

[2016-11-15 16:13] LaureVelez commented on #7
Is that possible to know if you found time to work on that bug? Or there is an other way to get the grid as gis format? Thanks a lot

[2016-11-16 23:34] EvilScott commented on #7
@LinhTran  can i assign this to you?

[2016-12-27 22:33] James-Thorson commented on #7
First off, this looks like a very useful project -- thanks for the effort!

I'm exploring the examples and when I try...

[code]

... from the GitHub main page, I get as output `data frame with 0 columns and 0 rows`.  I'm using R version 3.2.2 on a windows machine.  I imagine this is not the intended output, no?

[2016-12-30 21:15] jafflerbach commented on #6
It seems like this error is occurring again. I'm getting the same error

`No encoding supplied: defaulting to UTF-8. data frame with 0 columns and 0 rows`

after running the example from `getcelldata` and it looks like others are as well, see recent comment in #7.

It seems like the error pops up [when `fromJSON` is called](https://github.com/SeaAroundUs/rseaaroundus/blob/master/R/helpers.R#L18).

[2017-01-01 21:13] EvilScott commented on #6
@LinhTran is it possible the recent release affected this?

[2017-02-14 21:55] oharac commented on #6
following up on this issue... I am having the same issue (zero-length dataframe result) that @jafflerbach and the original poster reported.  I tried it using the sample code and also using a vector of cells obtained using the `getcells()` function for British Columbia's EEZ.

[2017-03-21 20:58] sckott opened #8 "moving to ropensci"
hi - scott here from ropensci - I think we can move in one of two ways - you could make me an admin here and I can move or i can put one of you on a team with admin within ropensci, thoughts?

[2017-03-22 17:38] EvilScott commented on #8
@vkirkl can you handle this?

[2017-03-22 17:47] vkirkl commented on #8
@sckott , I've added you as an admin here ... you should be all set.
@Dengaloo ... we should probably clean up the org users list as some point soon  ... lots of Vulcan folks, in particular, that can be removed :)

[2017-03-22 18:15] sckott commented on #8
cool, moved over - can remove me from seaaroundus now

[2017-03-30 21:33] #8 closed

[2017-03-30 21:33] sckott opened #9 "message on load directing to pdf manual"

[2017-04-06 20:31] jamiecmontgomery opened #10 "stock status data download by species/stock"
The data behind [these plots](http://www.seaaroundus.org/data/#/eez/925/stock-status), at the stock/species level, would be very helpful. Currently the data downloaded via the button online only provides the data fed into the plot; % of total catch or stocks that are in each of the 5 categories. Our team would like to see the data by stock or species. I imagine a dataframe that lists each species,

[2017-04-07 03:30] Xeonilian opened #11 "buck data download and problems in running marinetrophicindex()"
Hi, I requsted bulk data of marine trophic index through the Sea Around Us website, and was lead to this page. After installing the R library and running all examples, I found
the function marinetrophicindex() didn’t work (Windows).
``

#No encoding supplied: defaulting to UTF-8.
Error in named_data[[type]] : subscript out of bounds

No encoding supplied: defaulting to UTF-8.
Error in named_data[[

[2017-04-07 18:05] sckott opened #12 "change repository name?"
would anyone mind if we change the repository name?  it's just easier when the package itself is the same name as the github repo name

[2017-04-07 18:55] sckott commented on #11
thanks @Xeonilian - looking into it, plz share your R session info - past in output of `sessionInfo()`

[2017-04-07 19:01] sckott opened #13 "add tests"

[2017-04-07 19:31] jafflerbach commented on #12
i've been tripped up by this too. I'd vote to change it

[2017-04-07 19:53] sckott commented on #12
@jafflerbach glad you agree

[2017-04-08 08:37] Xeonilian commented on #11
This is my R session info
`> sessionInfo()`

[2017-04-08 09:19] patperu commented on #11
Hi @Xeonilian,
using the development version `ropensci/rseaaroundus@d405c9e` your requests are now working.

[code]
To install the dev version run
[code]

[2017-04-08 09:50] Xeonilian commented on #11
Thanks a lot, it worked.

BTW, When I installed the new viersion. the dependent package rgdal could not be installed automatically.
So I installed it myself, and then rseaaroundus.

Perhaps the error message is usefull, I attach it here.

[2017-04-08 13:49] patperu commented on #11
Thank you for reporting the error. Unfortunately I can't help you with this issue. But I'm sure Scott has an explanation.

[2017-04-09 06:52] Xeonilian commented on #11
@patperu
I just tried the solution without noticing who suggested. I thought you were Scott, so reported the error to you. Thanks again.

[2017-04-12 17:50] #12 closed

[2017-04-12 18:34] sckott commented on #11
@Xeonilian getting to this soon

[2017-04-18 22:55] sckott commented on #11
looks like we're all good here - @Xeonilian that warning for rgdal is i think because you had rgdal loaded when you were installing it, so not a big deal i think

[2017-04-18 22:55] #11 closed

[2017-04-18 22:58] sckott commented on #10
thanks @jafflerbach

looking into it

[2017-04-18 23:00] sckott commented on #9
asked deng for clarficiation on this

[2017-04-18 23:25] sckott opened #14 "make data in row.names a column throughout pkg"
this is considered best practice in R - row names can be lost easily

[2017-04-18 23:49] #13 closed

[2017-05-19 17:40] sckott commented on #9
notes:

[2017-05-23 03:15] ableitner commented on #6
I am also getting a zero-length dataframe result using the sample code, but a different error than @jafflerbach and @fguilhaumon reported:

data frame with 0 columns and 0 rows
Warning message:
In charToRaw(enc2utf8(val)) :
  argument should be a character vector of length 1
all but the first element will be ignored

The same error shows up no matter what arguments I give the function. getcells()

[2017-05-23 16:50] EvilScott commented on #6
@LinhTran can you verify tables have the appropriate grants? we need some automation to ensure that the right series of events take place on release so this data is still available (takes place on last thread too)

[2017-05-23 18:25] LinhTran commented on #6
So i got the cell_catch data pushed to prod and grants executed. But the api call above is still not returning data.

[2017-05-23 18:36] EvilScott commented on #6
Sounds like this may be some kind of R error with char encoding then. Any ideas @sckott ?

[2017-05-23 18:37] sckott commented on #6
will have a look 👀

[2017-05-23 23:26] sckott commented on #6
@ableitner what version of R and `seaaroundus` R pkg are you using?

[2017-05-23 23:44] ableitner commented on #6
@sckott I am using R 3.2.2 GUI 1.66 Mavericks build (6996) and I just downloaded the newest seaaroundus package and citation("seaaroundus") returns Scott Chamberlain and Robert Scott Reis (). seaaroundus: Sea Around Us API Wrapper. R package version 1.0.0.

[2017-05-24 22:55] sckott commented on #6
@ableitner I'd recommend upgrading your R version to latest (3.4)  to avoid any problems  - unless good reason to stick with older ver

Made some changes, reinstall like `devtools::install_github("ropensci/seaaroundus")` - try again , let me know if it works well for you now

[2017-05-24 23:12] ableitner commented on #6
Great! Works now with the example code. Thank you!

[2017-05-24 23:54] sckott commented on #6
done, via help in https://github.com/SeaAroundUs/sau-web-mt/issues/9

[2017-05-24 23:54] #6 closed

[2017-05-24 23:55] sckott commented on #7
👋  @LaureVelez  @James-Thorson

this should be fixed now, try again after reinstall from github like `devtools::install_github("ropensci/seaaroundus")`

[2017-05-24 23:55] #7 closed

[2017-05-25 00:23] LinhTran commented on #10
Also, the plotted data is calculated dynamically before it even hit the MT. The MT in this case just pass the calculated data thru to the UI.

Would data with just the fields below be adequate?
   year, taxon_key, catch_sum

If the answer is yes, then this can be done with minimal effort.

[2017-05-25 00:26] sckott commented on #10
@LinhTran what is the `MT`?

[2017-05-25 02:03] ableitner opened #15 "getcells() error"
I am having problems with getcells()
The example call works great:

 -54.964876033057919 28.964280991735578,
 -35.960743801652967 27.606842975206646,
 -48.177685950413291 15.842380165289299))")

BUT when I replace those coordinates with different ones, I get this error:

  -47.94088 -61.34051,
  -49.80912 -61.34051,
  -49.78325 -60.44316))")
Error in postapi(paste(getapibaseurl(), "spatial/r/shape

[2017-05-25 02:15] LinhTran commented on #10
MT = Middle-Tier, sorry i should have spelled it out

[2017-05-25 05:29] dtickler opened #16 "getcelldata() function does not return data from multiple cells"
Hi there,

I am trying to use the getcelldata() function to extract large blocks of cells, but the data returned is only for the first cell in the list (i.e. getcelldata(2005, c(89568,90288,89569)) only returns data for cell 89568)

Is this a case of operator error, or a bug in the code?

Am running R version 3.3.1 with R Studio Version 1.0.143 on Mac OSX 10.11.6

Ideally, I would like to be able

[2017-05-26 02:51] ableitner commented on #16
Running R version 3.2.2 on Mac OSX 10.12 I get

[1] 132  18

Maybe just upgrading your R version would help?

[2017-05-26 02:54] ableitner commented on #15
Interesting update:
Even when I just slightly modify the example code by deleting a few digits I get an API error:

+ -54.96487657919 28.9642809978,
+ -35.9607438967 27.6068429,
+ -48.1776859 15.84238))")
Error in postapi(paste(getapibaseurl(), "spatial/r/shape", sep = "/"),  :
  Internal Server Error (HTTP 500).

[2017-05-26 05:02] dtickler commented on #16
Yep. Good suggestion!

[2017-05-26 05:02] #16 closed

[2017-05-27 19:17] sckott commented on #16
thanks @ableitner

[2017-05-29 17:02] sckott commented on #15
@ableitner should be back up, try again now

[2017-05-29 20:27] ableitner commented on #15
@sckott still doesn't work. I get the same error message:
getcells("POLYGON ((-48.177685950413291 15.842380165289299,
+ -48.177685950413291 15.842380165289299,
+ -54.964876033057919 28.964280991735578,
+ -35.960743801652967 27.606842975206646,
+ -48.177685950413291 15.8423801652892))")
Error in postapi(paste(getapibaseurl(), "spatial/r/shape", sep = "/"),  :
  Internal Server Error (HTTP 500).

Th

[2017-06-05 21:44] ableitner commented on #15
@sckott Is there a work around option like a downloadable CSV of the cells spatial data that I could download and query directly in R?

[2017-06-06 00:49] sckott commented on #15
@ableitner wrt bulk downloads - we (ropensci) can't do that - that is up to Seaaroundus - we can only answer questions about the R package.

For your query problem - the problem appears to be that your WKT polygon isn't closed correctly - that is, the coordinates of the first point and the last have to be exactly the same. - And the server side code for Seaaroundus is failing when they don't match

[2017-06-06 02:16] ableitner commented on #15
GREAT! This works. I am feeling foolish that I simply was not closing the polygon.

Also, if someone is interested the function CAN be looped:

a<-paste(SMinfo$UEcornerLong[i], SMinfo$UEcornerLat[i], sep=' ')
b<-paste(SMinfo$LEcornerLong[i], SMinfo$LEcornerLat[i],sep=' ')
c<-paste(SMinfo$LWcornerLong[i], SMinfo$LWcornerLat[i], sep=' ')
d<-paste(SMinfo$UWcornerLong[i], SMinfo$UWcornerLat[i], sep='

[2017-06-06 04:27] sckott commented on #15
In this pkg we can try to check the WKT - will try that

[2017-06-06 16:00] sckott commented on #15
@ableitner okay, reinstall - and try bad WKT - should error correctly now

[2017-06-06 20:34] ableitner commented on #15
Both getcells() and getcelldata() are working great now!

[2017-06-06 21:06] sckott commented on #15
great

[2017-06-06 21:06] #15 closed

[2017-06-08 21:00] jafflerbach commented on #10
@LinhTran - the data we are most interested in from this plot is the actual status of each stock. So data with the fields:

year, taxon, stockstatus, catch

would be fantastic. The stockstatus data would be one of the five categories (collapsed, over-exploited, exploited, developing, rebuilding).

[2017-06-09 21:52] sckott commented on #10
Hmm, I'm not seeing any way to do more than 1 variable - that is, @jafflerbach wants taxonomy and stockstatus - and looks like the API can only do one or the other at a time, correct @LinhTran ?

What variable has the categories "collapsed, over-exploited, exploited, developing, rebuilding" - I don't see those in any of the variable available through web portal or API, thoughts?

[2017-06-09 21:53] sckott commented on #14
@jafflerbach heads up - this will move the years as row names to a column called `year` or `years`, will ping again when changes are in

[2017-06-10 00:17] LinhTran commented on #10
Thanks for the list of specific data fields that you need. I will review the code to see how and where this can be done. Should be doable now that we know what is expected.

[2017-06-14 21:23] jafflerbach commented on #15
ok not sure what I'm missing here since I've ensured that the first and last points are matching:

[code]

[2017-06-14 22:58] sckott opened #17 "WKT validating: deal with "fix orientiation" error"
via #15

[2017-06-14 22:58] sckott commented on #15
has to do with the winding order I believe of the points in the WKT - comes from our pkg `wicket` for WKT parsing/validating - i have an open issue there https://github.com/ropensci/wicket/issues/19

this should work `getcells("POLYGON ((-180 90, 180 90, 180 -90, -180 -90, -180 90))")`

they are essentially the same except the order in which the points are drawn is different - i'll work on a way t

[2017-06-21 14:15] LaureVelez opened #18 "regionmap fucntion returning an error"
Hi there,

I tried to run the regionmap function and I got an error
This is the command line in the help document

Error in ogrListLayers(url) : Cannot open data source

Thanks,

Laure

[2017-06-21 14:27] sckott commented on #18
thanks, can you share you session info please

[2017-06-21 14:30] LaureVelez commented on #18
Yes, sure,

R version 3.3.1 (2016-06-21)
Platform: x86_64-apple-darwin13.4.0 (64-bit)
Running under: OS X 10.11.6 (El Capitan)

Thanks

[2017-06-21 18:13] jafflerbach opened #19 "large data query results in HTTP 504 error"
I am trying to make a large data query, essentially grabbing all data for all cells for the year 2014. I am planning on doing this same query for many years once I figure this out.

I've split the cells into batches but get the following error on the 4th batch each time...given the HTTP 504 error I think this might be on the SAUP side of things?

[code]
Error when i = 4 (or 5 or 6 and on):
[code]

[2017-06-21 18:16] sckott commented on #18
the session info would be everything printed out when you run `sessionInfo` or `devtools::session_info()` when `seaaroundus` is loaded e.g., mine is

[code]

[2017-06-21 18:29] sckott commented on #18
Try loading the pkg first, then running that example code, and what happens?

[2017-06-21 18:49] sckott commented on #19
thanks @jafflerbach !

yes, the 504 http error is from their servers - probably requesting too much data at once, or combination of too many requests for large data in a row

i'd try requesting fewer cells per request, and using a bit of delay between each iteration, and a progress bar perhaps. e..g,

[code]

[2017-06-21 20:06] sckott commented on #18
weird errors think ive seen before from `rgdal`, looking into switching to using `sf` package

[2017-06-21 20:23] sckott commented on #18
@LaureVelez  just made a change, reinstall `devtools::install_github("ropensci/seaaroundus")`, restart session, then try again

using `sf` pkg now, so depending on your OS, you may need a special step to install it, but it may go fine

[2017-06-21 20:53] jafflerbach commented on #19
Thanks @sckott - this actually still gets stuck at the same spot, when `i = 309`. After the query pooped out I waited a few minutes and ran the query simply with `i = 309` and got the same error. This makes me think there are actual cells in these specific batches causing issues, do you think that could be? If you run it does this work when `i=309` ?

[2017-06-21 21:52] sckott commented on #19
will try 🕐

[2017-06-22 03:21] sckott commented on #19
@jafflerbach worked for me - batchn for `i=309` for me has

[code]

same for you?

[2017-06-22 14:23] LaureVelez commented on #18
thanks, I am also using sf package for other stuff
We progress, now I obtain this error

Regions defined for each Polygons
Regions defined for each Polygons
Warning: Ignoring unknown aesthetics: x, y
Warning: Ignoring unknown aesthetics: x, y
Regions defined for each Polygons
Warning: Ignoring unknown aesthetics: x, y
Error in maptype(database) : objet 'C_map_type' introuvable

Thanks,

[2017-06-22 14:44] sckott commented on #18
Still didn't get your complete session info, please share that

[2017-06-22 14:47] LaureVelez commented on #18
sessionInfo()
R version 3.3.1 (2016-06-21)
Platform: x86_64-apple-darwin13.4.0 (64-bit)
Running under: OS X 10.11.6 (El Capitan)

locale:
[1] fr_FR.UTF-8/fr_FR.UTF-8/fr_FR.UTF-8/C/fr_FR.UTF-8/fr_FR.UTF-8

attached base packages:
[1] stats     graphics  grDevices utils     datasets  methods   base

other attached packages:
[1] seaaroundus_1.0.0

loaded via a namespace (and not attached):
 [1] Rcpp_

[2017-06-22 14:52] sckott commented on #18
This is the current version https://github.com/ropensci/seaaroundus/blob/master/DESCRIPTION#L5

You didn't actually do the update or you didn't restart your R session after updating

[2017-06-22 14:57] LaureVelez commented on #18
I did the update and restart my session, but installing it I obtained an error
devtools::install_github("ropensci/seaaroundus")
Downloading GitHub repo ropensci/seaaroundus@master
from URL https://api.github.com/repos/ropensci/seaaroundus/zipball/master
Installing seaaroundus
Downloading GitHub repo ropensci/wicket@master
from URL https://api.github.com/repos/ropensci/wicket/zipball/master
Erreur

[2017-06-22 16:11] sckott commented on #18
does this work for you: `install.packages("wicket")`

[2017-06-22 17:30] jafflerbach commented on #19
well... it looks like it's working today!

Will update if I hit a snag again but closing for now, thanks!

[2017-06-22 17:30] #19 closed

[2017-06-22 18:00] sckott commented on #19
great - maybe something changed on their servers - i'm not privy to those changes, so don't know what happened :/

[2017-06-23 08:35] LaureVelez commented on #18
Yes, the installation of the wicket package is working but i stil obtain the same error

Downloading GitHub repo ropensci/seaaroundus@master
from URL https://api.github.com/repos/ropensci/seaaroundus/zipball/master
Installing seaaroundus
Downloading GitHub repo ropensci/wicket@master
from URL https://api.github.com/repos/ropensci/wicket/zipball/master
Erreur : Could not find build tools necessary

[2017-06-23 14:32] sckott commented on #18
does `devtools::has_devel()` return `TRUE` ? if `FALSE`, then run `devtools::find_rtools()`, then run `devtools::has_devel()` again and it should then return `TRUE`

[2017-06-27 00:50] #17 closed

[2017-06-27 00:50] sckott commented on #17
may in the future automatically correct `different orientation` error with `wicket::wkt_correct()`

[2017-07-04 18:28] stefankfu opened #20 "getcelldata"
Hi there,

when I am retrieving data using getcelldata there is one variabel which states the catch in a cell "catchsum". Do you know how this is measured? Is it tonnage or catch value? And in which unit is it measured?

I have digged through the seaaroundus documentation but was not able to find some defintion of the variables from getcelldata.

Thanks a lot!
Stefan

[2017-07-04 19:12] Gtsui091 commented on #20
Hi Stefan,

"catchsum" is measured in metric tonnes.

Are there other parameters you are unsure about?

Thanks,
Gordon

[2017-07-05 20:16] stefankfu commented on #20
Thanky you so much for the quick answer! I think the other parameters are pretty clear. Maybe one last question - is it safe to say that total catch in a cell and year and taxonomy = SUM^(over all fishing entities) (discards+landings)?

[2017-07-06 18:35] Gtsui091 commented on #20
Hi Stefan,

I'm not really understanding what your equation is. This is a link to our methods which explains how we allocate our catch data to 1/2 degree x 1/2 degree cells.
http://www.seaaroundus.org/catch-reconstruction-and-allocation-methods/#_Toc421534366
I think your answer will be in there. If it doesn't, feel free to ask me.

[2017-07-06 19:57] jafflerbach commented on #20
@stefankfu - I have been calculating total catch per cell/taxon/year as:

```catch = sum(LSF_CR,SSF_CR,IUU_CR,Discards_CR,na.rm=T)```

which is the total amount of catch caught by large scale fishing (LSF), small scale fishing (SSF), illegal and unreported (IUU) and discards. I would assume this is accurate but if this interpretation is wrong, @Gtsui091, please let us know

[2017-07-06 23:07] Gtsui091 commented on #20
@jafflerbach by LSF and SSF you mean Landings right? If so, then yes that is correct.

@stefankfu I think I understand now. Yes if you sum up up the Landings and Discards from the catch_status_name column for all fishing entities in that cell for that year, that will be the total catch.

[2017-07-18 07:27] cpiroddi opened #21 "error in installing github in R"
Hi,
i am trying to access the r code to plot sea around us catches but i get an error when i install the github:

Installation failed: Couldn't connect to server

Any help appreciated!

[2017-07-18 16:30] sckott commented on #21
Hmm, seems like you don't have internet - or possibly you have to go through a proxy - im guessing you are on internet at a university or within a company's building?

[2017-07-18 16:47] cpiroddi commented on #21
Indeed,

I am in an institute building

Do you know how to fix this?

thank u

c

________________________________
From: Scott Chamberlain <notifications@github.com>
Sent: Tuesday, July 18, 2017 6:30 PM
To: ropensci/seaaroundus
Cc: cpiroddi; Author
Subject: Re: [ropensci/seaaroundus] error in installing github in R (#21)

Hmm, seems like you don't have internet - or possibly you have to go through

[2017-07-18 17:17] sckott commented on #21
Do you know if you need a proxy? details may include: url, port, username, password

Or if you can use a VPN that should fix it

[2017-07-18 17:20] cpiroddi commented on #21
ok will try that

thank u!

________________________________
From: Scott Chamberlain <notifications@github.com>
Sent: Tuesday, July 18, 2017 7:17 PM
To: ropensci/seaaroundus
Cc: cpiroddi; Author
Subject: Re: [ropensci/seaaroundus] error in installing github in R (#21)

Do you know if you need a proxy? details may include: url, port, username, password

Or if you can use a VPN that should fix it

—

[2017-09-22 21:02] theAbby opened #22 "Fatal Error installing github("ropensci/seaaroundus")"
Hi

Have had this happen on 2 different computers now. Both windows, one Windows 7, one Windows 10. Chrome default browser. Running R through R studio.

2 fatal errors occurring when trying to install the github. Previously (resolved-I think) fatal error as wicket is needed, so downloaded this package and tried again. Fatal error states, both for i386 & x64 that there is no file, when referring to

[2017-09-22 21:07] sckott commented on #22
where is your session info?

[2017-09-22 21:08] sckott commented on #22
can you install any other pkgs with `install_github` ?

[2017-09-25 03:51] theAbby commented on #22
Oop! Sorry there.

R version 3.4.1 (2017-06-30) -- "Single Candle"
Copyright (C) 2017 The R Foundation for Statistical Computing
Platform: x86_64-w64-mingw32/x64 (64-bit)

Hm. I can not. Same error- going to the boards-thanks for a lead! Will report back if I fix.

[2017-10-05 15:27] theAbby commented on #6
Hi.
I'm having this thread issue now: using R (3.4)- latest version
* able to getcells() no problem, lots of ways
* getcelldata() returning data frame with 0 columns and 0 rows, in many instances
-no warning nor error thrown.

Help most appreciated.

[2017-10-05 18:52] theAbby commented on #6
Also, 'SeaAroundUs/sau-web-mt#9' link not work

[2017-10-05 18:55] theAbby commented on #22
Solution found- Space meant that it was looking for a file not in existance (ie D'Documents' vs 'Documents and Settings') Since I could not change folder name, nor path name, made a new folder called 'Documents'

RTools was acting up and not playing well with github. Needed rerouting as well.

[2017-10-05 18:55] #22 closed

[2017-10-05 19:01] theAbby opened #23 "getcalldata() no rows, no collumns- Issue 6 reoccurring (please see notes there)"
Hi.
I'm having this thread issue now: using R (3.4)- latest version

-able to getcells() no problem, lots of ways
-getcelldata() returning data frame with 0 columns and 0 rows, in many instances
-no warning nor error thrown.

[2017-10-05 19:02] sckott commented on #6
that link works for me, goes to https://github.com/SeaAroundUs/sau-web-mt/issues/9

will look into `getcelldata`

[2017-10-05 22:52] theAbby commented on #6
Thank you for looking into that Scott.
(Still no go on that other link - only interesting in terms of whatever it's content might be for troubleshooting but yah, not in Chrome nor iexpl
Error 404-not the site I'm lookin for)

[2017-10-05 23:43] Gtsui091 opened #24 "Regionmaps() geom_sf not found"
<details> <summary><strong>Session Info</strong></summary>

[code]
</details>
Hi Scott,

A recent user is trying to use the regionmaps() function and encountered this error:

Error in geom_sf(colour = "#394D66", fill = "#536D8E", size = 0.25) :
  could not find function "geom_sf"

I found that get around this by installing the development version of ggplot2.
`devtools::install_github("tidyverse/gg

[2017-10-06 20:16] sckott commented on #24
thanks! @Gtsui091 will have a look

[2017-10-06 20:16] sckott commented on #23
thanks @theAbby will have a look

[2017-10-09 23:16] theAbby commented on #6
https://github.com/ropensci/seaaroundus/sau-web-mt#9 says issue title is private and pops up a 404 error. If it is possible that the solution to my issue with getcalldata might be written there, can you share content?

Thank you .

[2017-10-11 16:24] sckott opened #25 "Add a vignette"
This package needs more documentation!  Help out the community by contributing a vignette. If you don't know what a vignette is, check out http://r-pkgs.had.co.nz/vignettes.html for an introduction.

If you aren't sure how to contribute on github checkout https://github.com/ropensci/seaaroundus/blob/master/.github/CONTRIBUTING.md

Keep in mind our code of conduct https://github.com/ropensci/seaaro

[2017-10-19 23:04] sckott commented on #6
sorry about the delay.

that link doesn't include any R stuff, i'll try to help though.

You didn't show examples. Can you show examples of code that you tired that doesn't work, and paste in the output of your `sessionInfo()` so I can see what version of packages yo have

[2017-10-20 21:07] sckott commented on #23
@theAbby  can you  gives some examples

[2017-11-13 22:17] sckott commented on #21
closing due to inactivity

[2017-11-13 22:17] #21 closed

[2017-11-13 22:18] sckott commented on #2
any thoughts on this @EvilScott ?  is it not likely to happen (in which case close issue), or still possible (in which case, keep open)

[2017-11-13 22:41] #9 closed

[2017-11-13 23:15] EvilScott commented on #2
not likely to happen, sorry. i am no longer at vulcan so i dont work with this data anymore.

[2017-11-13 23:15] sckott commented on #2
got it, thx

[2017-11-13 23:22] sckott commented on #2
@Gtsui091 I think you still work with SAU?  Is this feature request something likely to happen?

[2017-11-14 00:22] sckott commented on #18
closing due to inactvity -

though opening a new issue b/c this functioning is now causing R to crash due to a geos error

[2017-11-14 00:22] #18 closed

[2017-11-14 00:24] sckott opened #26 "`regionmap()` causing R to crash"
[code]

seems like an error related to geos

[2017-11-14 00:46] sckott commented on #26
trying to get another attempt on this @jafflerbach - can you make sure your updated here, and then try the code above. and let me know what versions `sf::sf_extSoftVersion()` gives you

[2017-11-14 17:21] jafflerbach commented on #26
@sckott at first run it worked for me:
![image](https://user-images.githubusercontent.com/6842510/32793635-5ad2e5ba-c91b-11e7-9c23-3aa8ea3727f9.png)

and gave me this plot

![image](https://user-images.githubusercontent.com/6842510/32793889-145b3faa-c91c-11e7-8db5-ea3a567bd247.png)

but then I re-installed the package w/ devtools and I'm getting a warning about `panel.margin` being deprecated (nee

[2017-11-14 18:12] sckott commented on #26
thanks @jafflerbach - and thx for mention of warnings, those are fixed locally but I haven't pushed changes yet.

[2017-11-16 19:08] Gtsui091 commented on #2
Hi @sckott, yup I still work at SAU. I will try to make this happen but I won't have time to do it until december cause working on getting the latest version of our data on the web

[2017-11-16 23:24] sckott commented on #2
@Gtsui091 thanks much

[2017-12-21 01:16] sckott commented on #24
about to push the first version to CRAN, it's not meant to be a major release, but rather to get more eyes on it - the `regionmap` function will have to be pulled out for this release as `ggplot2` only has the `sf` pkg integration in the development version - so we can integrate that later

[2017-12-21 01:16] sckott commented on #26
about to push the first version to CRAN, it's not meant to be a major release, but rather to get more eyes on it - the `regionmap` function will have to be pulled out for this release as `ggplot2` only has the `sf` pkg integration in the development version - so we can integrate that later

[2017-12-21 01:16] sckott commented on #23
closing no response

[2017-12-21 01:16] #23 closed

[2017-12-21 03:37] sckott commented on #14
this is all sorted

[2017-12-21 03:37] #14 closed

[2017-12-21 03:38] sckott commented on #20
i think we're all sorted here, closing. reopen if i guessed wrong

[2017-12-21 03:38] #20 closed

[2018-02-07 23:04] robertspm opened #27 "get cell coordinates"
Is there a way to get the latitude/longitude coordinates of each one in a set of cells? I have the numbers of the cells I need and the data in them, but no way to know which cell is which. I have read the methods, so I understand that the top left bounding box corner coordinate is at 90°N and 180°W, but is there an easy way to find out at least one corner or the center point for a subset of cells?

[2018-02-08 15:55] robertspm commented on #27
Thanks for the quick reply! Yes, I am sharing below. It's pretty simple really, but I want to be able to map the results in GIS, so I need to know where each cell is. I could even use a simple reference table outside of R, but I can't find the cell coordinates anywhere online.

I ran the below, then pulled all the data for 2010-2014 for each cell.

small_cells <- getcells("POLYGON((40.80421	-2.481

[2018-02-09 18:15] sckott commented on #27
thanks @robertspm

@Gtsui091 Is there anyway to get coordinates for the Seaaroundus cells?  Either their centroids, or their East/west/south/north points, or something?

[2018-02-09 18:17] sckott commented on #27
@robertspm i know of no way to get the coordinates for the cells, ^^ asked above

[2018-03-27 18:03] Gtsui091 commented on #27
Hi sorry for the delayed response. I do have a cell table with the cell ids that correspond to the long/lat of the centroid of the cell. I'm not sure how to integrate it with the R package though since its not one of the tables currently used by the website so its not in the API. I think I would have to modify our API first to include the table before it can called by the R package

[2018-03-27 18:08] robertspm commented on #27
Hi, that's great news! Rather than going through all of that, could you send me the standalone table as a csv?

[2018-03-27 18:12] sckott commented on #27
thanks @Gtsui091 - that'd be great if you could integrate into the API.

@robertspm maybe they will send it to you, but it would be best in the long run if it's in the API for others to use as well

[2018-03-27 18:22] Gtsui091 commented on #27
@robertspm I can do that. Shoot me an email and I can send it over to you. g.tsui@oceans.ubc.ca

@sckott I'll definitely try to make more time now. Just been completely swamped the past few months

[2018-03-27 18:29] robertspm commented on #27
@sckott Absolutely, but in the meantime, thank you @Gtsui091! I just sent you an email.

[2018-05-01 15:59] jcvdav commented on #2
Is there an update on this? It would be great to have the scientific names, at least as a dictionary to manually `left_join` them to data downloaded via `catchdata()`. This would allow matching SAU data to other information (*e.g.* RAM or FAO).

I'm thinking a workflow like this could work with the dictionary:

[code]

I tried creating a dictionary using `rfishbase::common_to_sci(x = "Atlantic blu

[2018-05-01 17:26] jcvdav commented on #2
That's it @sckott!

Perhaps `catchdata` can take another argument (*i.e.* `sci_name = F`), and then [line 45 in `catchdata`](https://github.com/ropensci/seaaroundus/blob/master/R/catchdata.R#L45) can be

[code]

This way, a call to `catchdata` with `sci_name = F` (or not specified):

[code]
Gives
[code]
And setting `sci_name = T`:
[code]
Gives:
[code]

I'm happy to make the changes to `catchdata`,

[2018-05-01 21:09] sckott commented on #2
would it be more or less useful to have the data in a long format, like so, adding scientific name and entity_id

[code]

[2018-05-01 21:10] sckott commented on #2
that way we can have both common and sci. names and any other data as additional columns

[2018-05-01 21:12] jcvdav commented on #2
Yes!

I didn't suggest that because people might be used to `catchdata` returning a wide format, and perhaps changing it would cause compatibility issues.

That said, the first thing I always do is to convert to long format, so that output would be perfect.

[2018-05-01 21:51] sckott commented on #2
Cool. Can you send a PR then with the changes?

[2018-05-02 21:56] sckott commented on #27
Any updates on this @Gtsui091 ?

[2018-05-02 21:57] sckott commented on #24
closing in favor of #26

[2018-05-02 21:57] #24 closed

[2018-05-02 22:02] sckott commented on #3
i guess we can just loop internally over dimensions, though any chance @Gtsui091 if the API may allow multiple values passed to any parameters?

some of the parameters in the URL route (e.g., dimension, region), so those seem harder to change, but some are query parameters (e.g., region id), so maybe can be easily changed to accept >1 value?

[2019-01-28 15:22] jatalah opened #30 "Mariculture data download by species"
Hi,

Is it possible to add a function to download the mariculture data by species and country, including the coordinates of State/Provinces shown in the website maps?

Thanks

[2019-01-28 22:57] sckott commented on #27
Any updates on this @Gtsui091  ?

[2019-01-28 22:58] sckott commented on #30
@Gtsui091 @LinhTran  any ideas about this?

[2019-01-30 17:13] mclbx commented on #19
Hi all,

I'm currently trying to download a large amount of data as jafflerbach.
As adviced,  I reduced the number of cell used in this download process but I got a problem which I think came from the servers....
This is my script:

library(seaaroundus)

cellocean<-read.csv("//10.8.4.232/shared-2/CLAIRBAUX/Mig Arctique/Script & Données/SAUcellocean.csv",sep=";")
for (i in 2007:2014) {
print(i)
bat

[2019-01-30 20:43] sckott commented on #19
@mclbx thanks for your question.

Can you give a completely reproducible example please, e.g., I don't have access to your `SAUcellocean.csv` file.

It's possible it's a temporary problem. Maybe it is working now?

[2019-01-31 13:50] mclbx commented on #19
Thank you for your quick answer !
The csv file I used is available on this link: https://we.tl/t-hfJxWeZyIx
It's the cells' coordinates of cell concerned by my query.

Unfortunatly, today it still doesn't work even if I try to do it by step focusing in one combination of j and i by one...
I got the same error message than yesterday.

[2019-05-23 20:19] sckott opened #31 "getcelldata is failing"
the API calls for this function are failing now - e.g, api.qa1.seaaroundus.org/api/v1/eez/R/76 throws a 500 error

[2019-05-23 20:20] sckott commented on #30
@Gtsui091 @LinhTran any thoughts?

[2019-05-23 20:20] sckott commented on #27
@Gtsui091 @LinhTran any thoughts?

[2019-05-23 20:20] sckott commented on #31
any thoughts on this @Gtsui091 @LinhTran ?

[2019-06-12 18:59] sckott commented on #31
seems to be working now

[2019-06-12 18:59] #31 closed

[2019-10-08 22:30] sckott commented on #30
@Gtsui091 @LinhTran any ideas about this?

[2019-10-08 22:35] #27 closed

[2019-10-10 17:56] Gtsui091 commented on #30
Hey Scott, I spoke with Deng and the Mariculture data is being updated by an external collaborator. The structure of the data is slightly different from our current one so they still need to discuss how to incorporate it. I, unfortunately, I don't have a timeline for this so I think this ticket can be closed for now. Requests for mariculture data can contact Sea Around Us to reach the collaborator

[2019-10-10 20:46] sckott commented on #30
okay, thanks @Gtsui091

@jatalah see above, "Requests for mariculture data can contact Sea Around Us to reach the collaborator."

[2019-10-10 20:46] #30 closed

[2019-11-19 22:00] rmgriffin opened #32 "Value reported in real or nominal terms?"
I did not see anything in the documentation regarding the format of the revenue values represented here. In downloading data from the searoundus website, the methods document states the below quoted content which seems to indicate it is nominal data when downloaded from there, though interestingly no revenue data seems to currently be downloadable from the website so I cannot compare. Any clarific

[2019-11-19 23:22] sckott commented on #32
@Gtsui091 @LinhTran any thoughts on this?

[2019-11-21 08:30] Gtsui091 commented on #32
@rmgriffin Hi Rob, the values are the 'real' values for 2010 US$ equivalents.
It appears the methods are out of date. The latest methods can be found here http://www.seaaroundus.org/catch-reconstruction-and-allocation-methods/#_Toc421534369.

The current value the data is currently not available on the website because we are in the process of updating all the data to 2016 so it has been temporaril

[2019-11-21 14:33] rmgriffin commented on #32
Awesome, thanks for clarifying and providing this data

[2019-11-21 14:33] #32 closed

[2020-02-25 21:45] sckott commented on #26
package is being archived

[2020-02-25 21:45] #26 closed

[2020-02-25 21:45] sckott commented on #25
package is being archived

[2020-02-25 21:45] #25 closed

[2020-02-25 21:45] sckott commented on #10
package is being archived

[2020-02-25 21:45] #10 closed

[2020-02-25 21:46] sckott commented on #2
package is being archived

[2020-02-25 21:46] #2 closed